/* Mengimpor variabel dari vars.css */
@import "../../vars.css";

/* Container Utama */
.container {
  padding: 20px;
  background-color: var(--color-secondary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 900px; /* Lebar maksimal desktop */
  margin: 0 auto; /* Pusatkan tampilan di tengah */
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 30px;
  color: var(--color-primary-1);
}

.header h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}


/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
  border-radius: 8px; /* Rounded corners for the table */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center; /* Center align text in the table */
  border: none; /* Remove the outer border of the table */
}

.table thead {
  background-color: var(--color-primary-2);
}

.table th {
  color: var(--color-bg);
  font-weight: bold;
  padding: 12px;
  text-align: center; /* Center align table header text */
  border-right: 1px solid var(--color-bg); /* Add border to separate columns in the header */
}

.table td {
  padding: 12px;
  vertical-align: middle; /* Vertically align content */
  background-color: whitesmoke;
  color: var(--color-primary-1);
  border-right: 1px solid var(--color-bg); /* Add border to separate columns */
}

.table tbody tr:hover {
  background-color: yellow !important; /* Menambahkan !important untuk pengujian */
}


/* Tombol Lihat Detail */
.viewDetailsButton {
  padding: 8px 12px;
  font-size: 15px;
  font-weight: none;
  border: none;
  border-radius: 4px;
  background-color: var(--color-add-2);
  color: var(--color-primary-2);
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s ease-in-out;
  position: relative; /* Agar tombol tidak menutupi elemen lainnya */
  z-index: 1; /* Agar tombol berada di atas baris */
}

.viewDetailsButton:hover {
  background-color: var(--color-add-1);
}


/* Footer Buttons */
.footerButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footerButtons button {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.backButton {
  background-color: var(--color-primary-2);
  color: var(--color-secondary);
}

.backButton:hover {
  background-color: var(--color-primary-1);
}

.logoutButton {
  background-color: var(--color-primary-4);
  color: var(--color-secondary);
}

.logoutButton:hover {
  background-color: var(--color-primary-3);
}

/* Responsiveness */
@media screen and (max-width: 830px) {
  /* Tabel */
  .table {
    font-size: 12px;
    margin-top: 10px;
  }

  /* Detail Pasien */
  .patientDetail h2 {
    font-size: 20px;
  }

  .patientDetail p {
    font-size: 12px;
  }

  .footerButtons {
    flex-direction: column;
    align-items: stretch;
  }

  /* Header */
  .header h1 {
    font-size: 22px;
  }
}
