@import '../../../vars.css'; /* Pastikan ini sesuai dengan struktur folder */

.userInfo {
    flex: 0.2; /* Menentukan proporsi ruang untuk UserInfo dalam layout */
    padding: 20px 20px 20px 30px; /* Tambahkan padding kiri */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: var(--color-add-1); /* Warna latar belakang */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Efek bayangan */
    margin-bottom: 5px; /* Tambahkan jarak bawah untuk estetika */
    overflow: hidden; /* Pastikan konten tidak meluap */
    margin-left: 10px; /* Tambahkan margin kiri */
}

.user {
    display: flex;
    align-items: center;
    gap: 15px; /* Sesuaikan jarak antara elemen */
}

.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--color-primary-1); /* Border untuk foto */
}

.icon {
    display: flex;
    gap: 15px; /* Jarak antara ikon */
}

.icon img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Efek animasi hover */
}

.icon img:hover {
    transform: scale(1.1); /* Zoom sedikit pada hover */
}
