/* Memanfaatkan variabel dari vars.css */
@import "../../vars.css";

.container {
  background-color: var(--color-secondary);
  min-height: 100vh;
  padding: 20px;
  color: var(--color-primary-2);
  display: flex;
  flex-direction: column;
  max-width: 900px; /* Menambahkan batas lebar maksimal */
  margin: 0 auto; /* Membuat container berada di tengah */
}

.title {
  font-size: 32px;
  font-weight: bold;
  text-align: center; /* Memastikan judul berada di tengah */
  margin-bottom: 10px; /* Memberikan jarak antara judul dan elemen di bawahnya */
}

.calendarContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  padding: 16px;
  background-color: var(--color-secondary); /* Latar belakang kalender */
  border-radius: 12px;
}

.notesContainer {
  background-color: var(--color-primary-4); /* Warna untuk catatan */
  padding: 24px; /* Ruang lebih besar */
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Shadow lembut */
  max-width: 600px; /* Batas lebar maksimal */
  margin: 0 auto; /* Tengah */
}

.notesTitle {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-bg-light); /* Warna teks terang */
  margin-bottom: 16px;
  text-align: center; /* Tengah */
}

.notesList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.noteItem {
  font-size: 16px;
  color: var(--color-primary-2); /* Warna teks utama */
  margin-bottom: 8px;
  padding: 12px;
  border: 1px solid var(--color-bg-light); /* Batas lembut */
  border-radius: 8px;
  background-color: var(--color-secondary); /* Warna latar belakang item */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.noteItem:hover {
  background-color: var(--color-primary-5); /* Warna interaktif */
  color: var(--color-bg-light); /* Teks berubah lebih terang */
}

.noNotes {
  font-size: 16px;
  color: var(--color-text-muted);
  text-align: center;
  font-style: italic;
}

.footerButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footerButtons button {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.backButton {
  background-color: var(--color-primary-2);
  color: var(--color-secondary);
}

.backButton:hover {
  background-color: var(--color-primary-3);
}

.logoutButton {
  background-color: var(--color-primary-4);
  color: var(--color-secondary);
}

.logoutButton:hover {
  background-color: var(--color-primary-3);
}

/* Responsif: Menyesuaikan layout untuk perangkat lebih kecil */
@media screen and (max-width: 830px) {
  .container {
      padding: 10px;
  }

  .header {
      flex-direction: column;
      align-items: center; /* Menjaga agar semua elemen di dalam header tetap berada di tengah */
  }

  .backButton {
      margin-right: 0;
      margin-bottom: 10px;
  }

  .dateInput,
  .dropdownSelect {
      padding: 12px;
  }

  .footerButtons {
      flex-direction: column;
      align-items: stretch;
  }

  .footerButtons button {
      margin-bottom: 10px;
  }
}



