@import '../../../vars.css'; /* Pastikan ini sesuai dengan struktur folder */

/* Styling utama untuk chatList */
.chatList {
    flex: 1;
    overflow-y: scroll;
    background-color: var(--color-secondary);
    overflow-x: hidden;  /* Hide horizontal scrolling */
    position: relative; /* Agar elemen anak dengan position fixed tetap berada di dalam container */
}

/* Styling untuk bagian pencarian dalam chatList */
.chatList .search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-bottom: 1px solid var(--color-add-1);
}

.chatList .search .searchBar {
    flex: 1;
    background-color: var(--color-add-1);
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    padding: 10px;
    height: 40px;
}

.chatList .search .searchBar input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    flex: 1;
}

.chatList .search .searchBar img {
    width: 20px;
    height: 20px;
}

.chatList .search .add {
    width: 36px;
    height: 36px;
    background-color: var(--color-add-1);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

/* Styling untuk item chat */
.chatList .item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid var(--color-add-1);
}

.chatList .item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.chatList .item .texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chatList .item .texts span {
    font-weight: 500;
}

.chatList .item .texts p {
    font-size: 14px;
    font-weight: 300;
}

/* AddUser Wrapper */
.addUserWrapper {
    position: fixed; /* Menempatkan AddUser di tengah layar */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Menjaga elemen agar berada di tengah */
    z-index: 9999; /* Pastikan AddUser tetap berada di atas konten lainnya */
    background-color: rgba(0, 0, 0, 0.3); /* Memberikan background semi transparan */
    padding: 20px;
    border-radius: 10px;
}
