* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* additional  for testing chat*/

/* body{
  background-image: url("/assets/chat/bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}


.container{
  width: 90vw;
  height: 90vh;
  background-color: rgb(195, 179, 212);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgb(152, 147, 157);
} */
