:root {
  /* Backgrounds & Surfaces */
  --color-bg: #fff;
  --color-surface: #f9f9f9;

  /* Primary Colors */
  --color-primary-1: #6c948c;   /* Hijau Abu */
  --color-primary-2: #323a3c;   /* Abu Gelap */
  --color-primary-3: #ffbd59;   /* Kuning Terang */
  --color-primary-4: #f3d493;   /* Kuning Muda */
  --color-primary-5: #9bbb93;   /* Hijau Pucat */
  --color-primary-6: #e4b797;   /* Peach */

  /* Secondary & Accent */
  --color-secondary: #ebeae3;   /* Abu Putih */
  --color-add-1: #cdcdcd;       /* Abu Netral */
  --color-add-2: #cbecf1;       /* Biru Pastel */

  /* Status Colors */
  --color-error: #da7d7b;

  /* Fonts */
  --font-robot: "Roboto", sans-serif;
}

