@import "../../vars.css";

/* Container Utama */
.container {
  padding: 20px;
  background-color: var(--color-secondary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 900px;
  margin: 0 auto;
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 30px;
  color: var(--color-primary-1);
}

.header h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow-x: auto; /* Tambahkan untuk tabel responsif */
  text-align: center;
  border: none;
}

.table thead {
  background-color: var(--color-primary-2);
}

.table th {
  color: var(--color-bg);
  font-weight: bold;
  padding: 12px;
  text-align: center;
  border-right: 1px solid var(--color-bg);
}

.table td {
  padding: 12px;
  vertical-align: middle;
  background-color: whitesmoke;
  color: var(--color-primary-1);
  border-right: 1px solid var(--color-bg);
}

.table tbody tr:hover {
  background-color: var(--color-highlight); /* Warna highlight */
  transition: background-color 0.3s ease;
}

/* Tombol Lihat Detail */
.viewDetailsButton {
  padding: 10px 16px;
  font-size: 15px;
  font-weight: 600; /* Gunakan font tebal untuk tombol */
  border: none;
  border-radius: 4px;
  background-color: var(--color-add-2);
  color: var(--color-primary-2);
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.viewDetailsButton:hover {
  background-color: var(--color-add-1);
}

/* Footer Buttons */
.footerButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footerButtons button {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.backButton {
  background-color: var(--color-primary-2);
  color: var(--color-secondary);
}

.backButton:hover {
  background-color: var(--color-primary-1);
}

.logoutButton {
  background-color: var(--color-primary-4);
  color: var(--color-secondary);
}

.logoutButton:hover {
  background-color: var(--color-primary-3);
}

/* Responsiveness */
@media screen and (max-width: 830px) {
  .table {
    font-size: 12px;
    margin-top: 10px;
    overflow-x: auto; /* Pastikan tabel tetap responsif */
  }

  .footerButtons {
    flex-direction: column;
    align-items: stretch;
  }

  .footerButtons button {
    margin-bottom: 10px; /* Beri jarak antar tombol */
  }

  .header h1 {
    font-size: 24px;
  }
}
