@import "../../vars.css"; /* Importing global variables */

.container {
  background-color: var(--color-secondary);
  min-height: 100vh;
  padding: 20px;
  color: var(--color-primary-2);
  display: flex;
  flex-direction: column;
  max-width: 900px; /* Menambahkan batas lebar maksimal */
  margin: 0 auto; /* Membuat container berada di tengah */
}

.header {
  font-size: 32px;
  font-weight: bold;
  text-align: center; /* Memastikan judul berada di tengah */
  margin-bottom: 10px; /* Memberikan jarak antara judul dan elemen di bawahnya */
}

.header h1 {
  font-size: 32px;
  font-weight: 600;
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.formSection label {
  font-size: 16px;
  color: var(--color-primary-2);
}

.inputField,
.selectField,
.datePicker {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid var(--color-primary-3);
  font-size: 16px;
  width: 100%;
  background-color: var(--color-secondary-2);
  color: var(--color-primary-1);
}

.inputField:focus,
.selectField:focus,
.datePicker:focus {
  border-color: var(--color-primary-4);
  outline: none;
}

.datePicker {
  cursor: pointer;
}

/* Notes Section Styling */
.notesSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notesSection label {
  font-size: 16px;
  color: var(--color-primary-2);
}

.notesSection textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid var(--color-primary-3);
  font-size: 16px;
  width: 100%;
  height: 240px; /* Height increased for better usability */
  background-color: var(--color-secondary-2);
  color: var(--color-primary-1);
  resize: vertical; /* Allow resizing vertically */
}

.notesSection textarea:focus {
  border-color: var(--color-primary-4);
  outline: none;
}

/* Error Message Styling */
.errorMessage {
  color: var(--color-error);
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.footerButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footerButtons button {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.backButton {
  background-color: var(--color-primary-2);
  color: var(--color-secondary);
}

.backButton:hover {
  background-color: var(--color-primary-3);
}

.logoutButton {
  background-color: var(--color-primary-4);
  color: var(--color-secondary);
}

.logoutButton:hover {
  background-color: var(--color-primary-3);
}

/* Responsif: Menyesuaikan layout untuk perangkat lebih kecil */
@media screen and (max-width: 830px) {
  .container {
      padding: 10px;
  }

  .header {
      flex-direction: column;
      align-items: center; /* Menjaga agar semua elemen di dalam header tetap berada di tengah */
  }

  .backButton {
      margin-right: 0;
      margin-bottom: 10px;
  }

  .footerButtons {
      flex-direction: column;
      align-items: stretch;
  }

  .footerButtons button {
      margin-bottom: 10px;
  }
}

